<!DOCTYPE html>
<html>
	<head>
		<title>找回密码</title>
	</head>
	<body>
		<h2>您好<%=@user.login%>:</h2>
		请点击以下链接: <a href="<%= @url %>"><%= @url %></a> <br />
		重置密码,该链接有效期为1小时,如果不能点击,请手动复制链接地址
	</body>
</html>
