@charset "utf-8";
/* CSS Document */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
body{font-family:'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;font-size:12px;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
img,a img,input{border:none}
a{text-decoration:none;color:#555555;cursor:pointer;}
ul,ol,li{list-style:none;}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.clear,.dno{clear:both;}
.hidden{display:none;}
i,em{font-style:normal}
strong,.bold{font-weight:bold;}
input,textarea{outline:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
.n-wrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
table{border-collapse:collapse;border-spacing:0;}
button,input,select,textarea{font-size:100%;}
input,textarea{outline:medium none;}
textarea{resize:none}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;overflow:hidden;}

.content{width:1000px;margin:0 auto;}
/*---------------*/
.background_yw,.background_jx,.tit_ico,.answer_show,.answer_hide,.lntk_bottom b,.page .up_page .page_left,.page .down_page .page_right{background:url(images/xm_ico.png) no-repeat;}


.header{width:100%;height:100px;line-height:100px;background:#e8edf1;}
.logo{width:195px;height:50px;margin-top:25px;}
.logo img{display:block;width:195px;height:50px;}
.nav{margin-left:52px;}
.nav a{display:inline-block;font-size:24px;font-weight:bold;}
.color_red{color:#db5140;}
.color_blue{margin:0 64px;color:#278dce;}
.color_green{color:#0f959d;}
.zhuanghao{font-size:14px;font-family:"宋体";color:#5e3c26;}
.sidebar{margin-top:32px;}
.sidebar_a{width:186px;border:2px solid #ef7360;border-top:0;height: 385px;}
.sidebar_a h2{position:relative;height:50px;line-height:50px;background:#ef7360;text-align:center;font-size:18px;font-weight:100;color:#fff;}
.sidebar_a h2 span{display:block;position:absolute;top:0;right:0px;cursor:pointer}
.sidebar_a ul{padding:6px 10px;height:320px;overflow: hidden;position: absolute;width:167px;}
.sidebar_a li{float:left;height:41px;line-height:41px;border-bottom:2px solid #dddddd;padding-left:10px;}
.sidebar_a li a{display:inline-block;width:34px;height:34px;text-align:center;line-height:34px;margin:4px 18px 0 0;}
.background_yw{width:34px;height:34px;background-position:0 0;color:#fff;}
.background_jx{width:34px;height:34px;background-position:-60px 0;color:#fff;}
.sidebar_a .sidebar_border{border:0;}
.sidebar_b{width:780px;}
.video{width:778px;border:1px solid #eee;background:#f9f9f9;padding-bottom: 28px;}
.video h3{height:46px;line-height:46px;font-size:18px;font-weight:100;color:#5e3c26;border-bottom:1px solid #ef7360;}
.tit_ico{display:inline-block;width:4px;height:20px;background-position:0 -40px;vertical-align:-4px;}
.video h3 span{display:inline-block;margin-left:20px;}
.video dl{margin-top:28px;}
.video dt{width:416px;margin-left:25px;min-height: 210px;}
.video dt p{font-family:Arial;font-size:18px;color:#555555;line-height:30px;word-break: break-word;min-height: 120px;}

.video_start{width:265px;}
.video_start a{display:block;width:155px;height:64px;margin:25px 0 0 80px;background:url(images/xm_video_bg.png) no-repeat;}
.video_start a b{display:block;width:53px;height:53px;background:url(images/xm_video_redquan.png) no-repeat;margin:5px 0 0 7px;}
.video_start a span{display:block;width:92px;text-align:center;height:64px;line-height:64px;font-size:18px;color:#555555;}
.video_but{margin-top:30px;width: 54px;height: 54px;margin-right: 15px;}
.video_but a{display:inline-block;width:54px;height:54px;margin-right:10px;}
.video_but .but1{ display:none; background: url("images/xm_video1.png");width: 54px;height: 54px;}
.video_but .but1:hover{background: url("images/xm_video1_hover.png");}

.video dd{width:276px;margin-right:25px;}
.video dd img{display:block;width:276px;height:175px;}
.sidebar_main{margin-top:25px;}
.answer{width:248px;}
.xmtf_tit{position:relative;height:46px;line-height:46px;font-size:18px;font-weight:100;color:#5e3c26;border-bottom:1px solid #ef7360;}
.xmtf_tit span{display:inline-block;margin-left:10px;}
.record_record{padding:32px 0;border-bottom:1px solid #eeeeee;}
.record_recorda{border-bottom:0;}
.record_pic{position:relative;}
.record_pic a{display:inline-block;width:150px;height:26px;line-height:36px;background:url(images/recordpic1.jpg) no-repeat;padding:5px 0 5px 14px;}
.record_pic img{display:inline-block;width:12px;height:19px;}
.answer_show{display:inline-block;position:absolute;top:0;right:4px;width:16px;height:16px;background-position:-20px -40px;margin-top:16px;cursor:pointer;}
.answer_hide{display:inline-block;position:absolute;top:0;right:4px;width:16px;height:16px;background-position:-40px -40px;margin-top:16px;cursor:pointer;}
.answer_content{margin-top:22px;font-family:Arial;font-size:12px;color:#555;line-height:24px;display:none}
.record{width:206px;margin:0 30px;}
.discussion{width:264px;}
.options{width:264px;}
.xmtf_tit a{display:block;position:absolute;top:0;right:0px;font-family:"宋体";font-size:14px;color:#555555;}
.discussion ul{margin-top:20px;}
.discussion li{font-family:"宋体";font-size:14px;line-height:35px;}
.discussion li span{display:inline-block;color:#f8ce9d;margin-right:6px;}
.discussion li a{color:#555555;display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;line-height: 16px;width: 260px;}
.discussion li a:hover{background:#ef7360;color:#fff;white-space:normal;}
/*加入我们*/
.headera{background:#fff;}
.login_us{height:90px;background:#e8edf1;font-family:"宋体"; display:none}
.form_us{width:505px;margin-top:15px;}
.us_text{width:148px;height:34px;border:0;background:#faffbd;font-size:16px;line-height:34px;padding-left:10px;margin-right:2px;}
.us_sub1{width:74px;height:33px;text-align:center;line-height:33px;font-size:14px;font-weight:600;color:#fff;border-radius:5px;background:#278dce;cursor:pointer;}
.us_sub2{background:#ef7360;margin-left:8px;}
.us_sub3{background:#ef7360;margin-left:5px;float:right}
.us_p{margin-top:10px;}
.forget{display:inline-block;margin-left:110px;font-size:12px;color:#3377aa;}
.ciyu_us{font-size:16px;color:#666666;line-height:90px;}
/*注册*/
.zc_logo{width:256px;margin:40px 0 0 22px;}
.zc_logo img{display:block;width:256px;height:51px;}
.zc_main{margin:35px 0 0 22px;}
.zcform_left{width:435px;}
.zcform_left h2{font-size:24px;color:#494949;font-weight:600;margin-bottom:30px;}
.zcform{font-family:"宋体";}
.zcform p{margin-bottom:15px;}
.zc_text{width:200px;height:28px;border-radius:3px;border:1px solid #c9c9c9;background:#faffbd;font-size:16px;line-height:28px;padding-left:10px;}
.zcform p span{display:inline-block;width:64px;text-align:right;font-size:16px;margin-right:15px;}
.yzmpic{display:inline-block;width:250px;height:40px;vertical-align:-12px;}
.look{display:inline-block;font-size:14px;color:#808080;vertical-align:12px;margin-left:5px;}
.look label{color:#666699;}
.zc_yzmtext{display:inline-block;width:104px;height:28px;border-radius:3px;border:1px solid #c9c9c9;background:#fff;}
.zc_ty{font-size:14px;color:#232323;font-weight:100;}
.zc_sub{display:inline-block;width:82px;height:28px;text-align:center;line-height:25px;border-radius:3px;background:#f0f0f0;border:1px solid #b9b9b9;font-size:14px;font-weight:600;color:#999999;cursor:pointer;}
.zc_right{margin:64px 0 156px 0;font-size:12px;color:#666666;}
.zc_right a{color:#666699;}
.copyright{margin:30px 22px 0 0;padding-top:12px;border-top:1px dashed #dcdcdc;clear:both;}
.copyright p{font-size:14px;color:#9999a5}
.help a{font-size:14px;color:#336699;padding:0 5px;}
.forgeta{margin-left:0;}
.dl_sub{display:inline-block;width:82px;height:28px;text-align:center;line-height:25px;border-radius:3px;background:#f6982e;border:1px solid #5e3c26;font-size:14px;font-weight:600;color:#fff;cursor:pointer;}
/*---------直播点题-------*/
.bzdt_tit{height:64px;background:url(images/zbdt_tit_bg.jpg) repeat-x;line-height:64px;}
.zbdt_tit{padding-right: 30px;height:64px;font-size:24px;cursor: pointer;text-align:center;}
.zbdt_tit1{background:url(images/zbdt_titbg.jpg) no-repeat;font-weight:600;color:#fff;}
.zbdt_tit2{color:#9a9a9a;}
.bzdt_bg{background:#fbfbfb;}
.zb_time{width:270px;margin:20px 0 0 4px;}
.zb_time dl{height:93px;}
.zb_time dt{width:59px;height:23px;padding:70px 0 0 46px;background:url(images/zbdt_time.jpg) no-repeat;font-size:12px;color:#fff;font-weight:600;} 
.zb_time dd{margin:55px 0 0 10px;}
.zb_time dd label{font-size:30px;color:#606a7a;}
.zb_time dd span{display:inline-block;font-size:12px font-family:"宋体";color:#9ca6b4;margin-left:10px;}
.zb_time dd  .zbing{color:#e73f05;}
.zb_js{padding:12px 0 15px 25px;margin-left:17px;border-left:4px solid #e0e0e0;font-size:18px;color:#000;}
/*------历年题库-------*/
.videoa dd{width:276px;padding:8px;border-radius:5px;border:1px solid #dddddd;background:#fff;margin-right:25px;}
.videoa dd img{display:block;width:276px;height:175px;}
.lntk_a{width:200px;border:2px solid #f07361;border-top:0;}
.lntk_a h2{position:relative;height:50px;line-height:50px;background:#f07361;text-align:center;font-size:18px;font-weight:100;color:#fff;}
.lntk_a h2 a{display:inline-block;font-size:18px;color:#fff;}
.lntk_a h2 .lntk_year{margin:0 10px;}
.lntk_a h2 span{display:inline-block;position:absolute;top:0;cursor:pointer;width:23px}
.lntk_a h2 .lntk_left{left:5px;}
.lntk_a h2 .lntk_right{right:5px;}
.lntk_a ul{padding:6px 10px;}
.lntk_a li{border-bottom:2px solid #dddddd;padding-left:5px;padding-bottom: 5px;display: inline-block;}
.lntk_a li h4{font-size:18px;color:#3c3c3c;margin:12px 0 8px;text-align: center;}
.task li{float:left;height:20px;border-bottom: 0px solid;margin: 5px;padding: 0px;}
.task a{display:inline-block;width:72px;height:18px;text-align:center;line-height:18px;background:#fff;border:1px solid #e3e3e3;}
.task .task_margin{margin-left:20px;}
.task .task_click{background:#fef0ee;border:1px solid #f07361;}
.lntk_a .border{border-bottom:0;}
.lntk_bottom a{position:relative;display:block;height:26px;background:#fef0ee;border-top:1px solid #fad5cf;}
.lntk_bottom b{display:block;position:absolute;top:10px;left:93px;width:12px;height:6px;background-position:0 -160px;text-indent:-9999px;}
.record_pic span{position:absolute;top:22px;right:0;font-size:12px; font-family:"宋体";color:#9d9d9d;}
/*以练*/
.color_greena{background:#0f959d;color:#fff;}
.zhuanghao span{display:inline-block;width:63px;padding-left:42px;height:30px;line-height:30px;background:url(images/yl_but.jpg) no-repeat;margin-left:10px;font-size:12px;color:#fff;font-family:"宋体";}
.yl_main{margin-top:20px;border:1px solid #e8e8e8;}
.xmtf_tityl{height:46px;line-height:46px;background:#f7f7f7;color:#000;}
.yl_ly{padding-top:33px;height:73px;border-bottom:1px dashed #dedede;}
.record_pica{width:150px;margin-left:14px;}
.ly_main{width:750px;marign-right:30px;font-family:Arial;font-size:16px;color:#666666;line-height:24px;}
.yl_lya{border-bottom:0;}
.page{margin-top:32px;padding-bottom:10px; font-family:"宋体"}
.page a{display:inline-block;width:40px;height:36px;border:1px solid #dfdfdf;text-align:center;line-height:36px;font-size:16px;font-weight:600;margin-right:3px;}
.page .up_page{width:95px;color:#cccccc;}
.page .up_page .page_left{display:inline-block;width:8px;height:12px;background-position:-20px -160px;margin-right:10px;}
.page .down_page{width:95px;color:#666666;}
.page .down_page .page_right{display:inline-block;width:8px;height:12px;background-position:-30px -160px;margin-left:10px;}
.page span{display:inline-block;margin-left:35px;font-size:14px;color:#666666;}
.page span label{margin-left:10px;}
.page span label b{display:inline-block;width:44px;height:18px;border:1px solid #dfdfdf;text-align:center;line-height:18px;}
.page span .queding{display:inline-block;width:55px;height:30px;text-align:center;line-height:30px;background:#f07361;border:0;font-size:14px;color:#fff;margin-left:10px;}
.page .select{background:#f07361;color:#fff;}

/*底部*/
.footer_bg{height:245px;border-top:4px solid #d9d9d9;background:#f5f5f5;margin-top: 30px;}
.xm_ewm{width:500px;margin:35px 0 0 35px;}
.xm_ewm li{float:left;width:94px;margin-right:52px;}
.xm_ewm img{display:block;width:94px;height:94px;}
.xm_ewm span{display:block;margin-top:8px; font-family:"宋体";font-size:14px;color:#221815;text-align:center}
.footer_phone{width:272px;height:62px;line-height:62px;padding-left:150px;margin-top:62px;background:url(images/footer_phone.jpg) no-repeat;font-size:36px;font-weight:bold;color:#fff;}
.foot_copyright{margin-top:45px;text-align:center;font-size:12px;color:#221815;}



.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
  display:block;
  z-index:90000;
}

.modal-backdrop,.modal{display: none;}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 90001;
 width:620px;
  margin-left: -310px;
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
  display: block;
}


.multieditbox{
    background: #f8f8f8;
    border-bottom: #b7b7b7 1px solid;
    border-left: #b7b7b7 1px solid;
    border-right: #b7b7b7 1px solid;
    border-top: #b7b7b7 1px solid;
    color: #000000;
    cursor: text;
    font-family: "arial";
    font-size: 9pt;
    padding: 1px;
    width: 264px;
	font-size: 12px;
	height: 35px;
}



